In [19]:
mystring = "Hello World"
mystring[8]

'r'

In [20]:
name = "Arthur"

In [21]:
name[-1]

'r'

In [22]:
name[5]

'r'

In [23]:
name + " Matos Dreher"

'Arthur Matos Dreher'

In [24]:
sign = "*"
sign * 30

'******************************'

In [25]:
# Flot formatting follows "{value:width.precision f}"

In [26]:
result = 100/777

In [27]:
result

0.1287001287001287

In [38]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [40]:
print(f"The result is {result}.")

The result is 0.1287001287001287.

# Formatting with placeholdersÂ¶ (oldest method)

In [50]:
# You can use %s to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".
print("I'm going to inject %s here." %"something")
print("I'm going to inject %s text here, and %s text here."%("some", "more"))

I'm going to inject something here.
I'm going to inject some text here, and more text here.

In [51]:
print("I like to eat %s everyday." %"bananas" )

I like to eat bananas everyday.

## *******************

In [60]:
my_list = ["one", "two", 3, 4]

In [61]:
my_list

['one', 'two', 3, 4]

In [62]:
my_list.append("five")

In [63]:
my_list

['one', 'two', 3, 4, 'five']

In [64]:
new_list = my_list.pop(2)

In [65]:
new_list

3

In [66]:
my_list

['one', 'two', 4, 'five']

In [70]:
my_list.reverse()

In [71]:
my_list

['five', 4, 'two', 'one']

## How do I index a nested list? For example if I want to grab 2 from [1,1,[1,2]]?

In [72]:
list = [1,1, [1,2]]

In [76]:
list

[1, 1, [1, 2]]

In [79]:
list[2][1]

2

## *****************************

In [80]:
tuple = ("a", "a", "b")

In [82]:
tuple

('a', 'a', 'b')

In [83]:
# Use .index to enter a value and return the index
tuple.index('a')

0

In [84]:
# Use .count to count the number of times a value appears
tuple.count('a')

2

In [86]:
# Turn Mississippi into a set of unique values
set("Mississippi")

{'M', 'i', 'p', 's'}

In [92]:
new_set = set()
new_set.add("a")
new_set.add("b")

In [93]:
new_set

{'a', 'b'}

In [95]:
second_set = set(["a", "b", "c"])

In [96]:
second_set

{'a', 'b', 'c'}

In [97]:
pwd

'/Users/daniela/Developer/repositories_git/Python_Bootcamp_Udemy'

In [134]:
%%writefile test.txt
Hello, this is a quick test file.

Overwriting test.txt

In [135]:
y = open("test.txt", "w+")

In [136]:
y.write("In Progress")
y.seek(0)
y.read()

'In Progress'

In [137]:
y.seek(0)
print(y.read())

In Progress